// Your custom SCSS should be written here...

/*
 * Styles for common elements
 */
$entry-font-size: $base-font-size * 0.9;
$entry-line-height: $base-line-height * 0.9;

div.entry {
  @include font-size($entry-font-size);
  border: solid 1px lightgray;
  padding: 20px;
  margin-bottom: 2em;

  p {
    @include font-size($entry-font-size);
    margin-bottom: $entry-line-height * 0.4;
  }

  h1 {
    font-size: ms(3);
    border-bottom: solid 3px #ccc;
    margin-bottom: $base-line-height / 2;
  }
  h2 {
    font-size: ms(2.2);
    border-bottom: solid 2px #dedede;
    margin-bottom: $base-line-height / 2;
  }
  h3 {
    font-size: ms(1.5);
    border-bottom: dotted 1px #dedede;
    margin-bottom: $base-line-height / 2;
  }
  h4 {
    font-size: ms(2);
    margin-bottom: $base-line-height / 2;
  }
  h5 {
    font-size: ms(2);
    margin-bottom: $base-line-height / 2;
  }
  h6 {
    font-size: ms(2);
    margin-bottom: $base-line-height / 2;
  }

  ul {
    list-style: disc outside;
    margin-left: 1.5em;
  }

  li {
    list-style: disc;
    @include padding-trailer(0);
  }

  div.entry-meta {
    text-align: right;
    background-color: $primary-color;
    padding: 0.5em;
    margin-bottom: 1em;

    h2 {
      font-size: ms(3);
      display: inline;

      a {
        color: white;
      }
    }
  }

  div.uncommitted {
    background-color: $warning-color;
  }

  code {
    padding: $entry-font-size * 0.2;
    border-radius: 3px;
    background-color: $default-color;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  }

  pre code {
    display: block;
    padding: 8px 15px;
  }
}



/*
 * Styles for /edit related elements
 */
div.stretch {
  max-width: none;
}

div#edit-input-form {
  overflow: scroll;

  textarea {
    width: 99%;
    height: 500px;
    font-size: ms(0.8);
  }
}

div#js-preview-div {
  overflow: scroll;
}
