// Your custom SCSS should be written here...

/*
 * Styles for common elements
 */
$entry-font-size: $base-font-size * 0.9;
$entry-line-height: $base-line-height * 0.9;

.trailing-space {
  margin-bottom: 2em;
}

mark {
}

div.entry {
  @include font-size($entry-font-size);
  border: solid 1px lightgray;
  padding: 20px;

  p {
    @include font-size($entry-font-size);
    margin-bottom: $entry-line-height * 0.4;
  }

  div.entry-meta {
    h2 {
      border: none;
    }
  }

  h1 {
    font-size: ms(3);
    border-bottom: solid 3px #ccc;
    margin-bottom: $base-line-height / 2;
  }
  h2 {
    font-size: ms(2.2);
    border-bottom: solid 2px #dedede;
    margin-bottom: $base-line-height / 2;
  }
  h3 {
    font-size: ms(1.5);
    border-bottom: dotted 1px #dedede;
    margin-bottom: $base-line-height / 2;
  }
  h4 {
    font-size: ms(2);
    margin-bottom: $base-line-height / 2;
  }
  h5 {
    font-size: ms(2);
    margin-bottom: $base-line-height / 2;
  }
  h6 {
    font-size: ms(2);
    margin-bottom: $base-line-height / 2;
  }

  ul {
    list-style: disc outside;
    margin-left: 1.5em;

    li {
      list-style: disc;
      @include padding-trailer(0);
    }
  }

  ol {
    list-style: decimal outside;
    margin-left: 1.5em;

    li {
      list-style: decimal;
      @include padding-trailer(0);
    }
  }

  div.entry-meta {
    text-align: right;
    background-color: $primary-color;
    padding: 0.5em;
    margin-bottom: 1em;

    h2 {
      font-size: ms(3);
      display: inline;

      a {
        color: white;
      }
    }
  }

  div.uncommitted {
    background-color: $warning-color;
  }

  code {
    padding: $entry-font-size * 0.2;
    border-radius: 3px;
    background-color: $default-color;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  }

  pre code {
    display: block;
    padding: 8px 15px;
    margin-bottom: $base-line-height / 2;
    overflow-x: auto;
  }
}

div.old-entry {
  background-color: oldlace;
}


div.git-history {
  background: gray;
  padding: 15px;

  div.day-commits {
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    background: white;

    h4 {
      font-size: ms(1);
    }

    div.commit {
      border: 1px solid $default-color;
      padding: 5px;
      background: white;

      div.commit-content {
      }

      div.commit-diff {
        border: 1px black solid;
        background: white;
        font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
        font-size: $base-font-size * 0.8;

        pre {
          line-height: 1.1em;
        }

        span.diff-metadata {
          color: gray;
          background: #f0f0f0;
        }

        span.add-line {
          background: lightgreen;
          width: 100%;
          color: green;
        }
        span.del-line {
          background: lightpink;
          color: red;
        }
      }

      .gitsha {
        font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
      }
    }

    div.current-commit {
      border: 4px solid black;
    }
  }

  div.day-commits:hover {
    background: ghostwhite;
  }
}


/*
 * Styles for /index
 */

ul.pages {
  text-align: center;

  li {
    display: inline;

    a {
      border: solid 1px $primary-color;
      background: $primary-color;
      color: white;
      padding: 5px 8px;
    }
    a:hover {
      color: $primary-color;
      background: white;
    }
    a.current-page {
      color: $primary-color;
      background: white;
    }
  }
}


/*
 * Styles for /create
 */
input.create {
  font-size: $base-font-size * 2;
}


/*
 * Styles for /edit related elements
 */
div.stretch {
  max-width: none;

  form {
    margin: 0;
  }
}

div#edit-input-form {
  overflow: auto;
  @include font-size($entry-font-size);

  div#edit-context-tool {
    background: $default-color;
    border: 1px solid $default-color;
    border-radious: 3px;
  }

  textarea {
    @include font-size($entry-font-size);
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    width: 100%;
    height: 500px;
  }
  textarea.dragover {
    border: 5px $primary-color dotted;
  }
}

div#js-preview-div {
  overflow: scroll;
}

@mixin edit-status() {
  display: block;
  color: white;
  font-weight: bold;
  padding-right: 0.5em;
}

div#js-edit-status-div {
  font-size: $base-font-size;
  line-height: $base-font-size * 1.5;
  height: $base-font-size * 1.5;
  text-align: right;

  display: none;
  position: absolute;

  div#js-edit-status-right-div {
    color: white;
    font-weight: bold;
    float: right;
    padding-right: 0.5em;
  }

  div#js-edit-status-left-div {
    color: white;
    font-weight: bold;
    float: left;
    padding-left: 0.5em;

    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  }
}

div.saved {
  background-color: $primary-color;
}
div.not-saved {
  background-color: $warning-color;
}
div.error {
  background-color: $danger-color;
}

div#edit-context-tool {
  a {
    padding: 0 5px
  }
}