<form action="/create" method="post">
  <label for="filepath">File path to create:</label>
  <input type="text" class="create" name="filepath" size="30" value="<%= default_path %>" />
  <input type="submit" class="create" />
</form>
