<form action="/create" method="post">
  <label for="filepath">File path to create:</label>
  <input type="text" name="filepath" size="40" value="<%= default_path %>" />
  <input type="submit" />
</form>