<form action="/edit/<%= h entry[:filepath] %>" method="post">
  <%= h entry[:filepath] %> <input type="submit" />
  <hr />

  <div class="row stretch">
    <div id="edit-input-form" class="five columns">
      <textarea name="content" id="edit-content" rows=80><%= entry[:source] %></textarea>
    </div>
    <div id="edit-preview-div" class="seven columns">
      <div id="js-preview-div" class="entry">
	&nbsp;
      </div>
    </div>
  </div>
</form>

<script>

function update_edit_content(){
$.get("/preview", { content: $("#edit-content").val()},
	function(data){
		var p = $("#js-preview-div");
		p.empty();
		p.append(data);
	});
}

$("#edit-content").on("keyup", function(){
	update_edit_content();
});

update_edit_content();

function resize_elems() {
	var textarea = $("#edit-content");
	var preview_div = $("#js-preview-div");

	// calculate optimal height
	win_height = $(window).height();
	var elems = [textarea, preview_div];
	for (var i = 0; i < elems.length; i++) {
		var elem = elems[i];
		var pos = elem.position();
		var h = win_height - pos.top - 10;

		elem.outerHeight(h);
	}
}

$(document).ready(resize_elems);
$(window).resize(resize_elems);

</script>
