<form id="edit-form" action="/edit/<%= h entry[:filepath] %>" method="post">
  <%= h entry[:filepath] %>
  <div class="small primary btn pretty"><a href="javascript:submit_form();">submit</a></div>
  <hr />

  <div class="row stretch">
    <div id="edit-input-form" class="five columns">
      <textarea name="content" id="edit-content" rows=80><%= entry[:source] %></textarea>
    </div>
    <div id="edit-preview-div" class="seven columns">
      <div id="js-preview-div" class="entry">
      </div>
    </div>
  </div>
</form>

<div id="js-edit-status-div">
</div>

<script>
var entry_filepath = "<%= h entry[:filepath] %>";
</script>

<script src="/js/edit.js"></script>
<script src="/js/markdown_assist.js">
</script>
