<form id="edit-form" action="/edit/<%= h entry[:filepath] %>" method="post">
  <a href="/">TOP</a>
  &nbsp;/&nbsp;
  <%= h entry[:filepath] %>
  <div class="small primary btn pretty">
    <a href="javascript:save_content();">save</a>
  </div>
  <div class="small danger btn pretty"><a href="javascript:submit_form();">submit &amp; commit</a></div>
  &nbsp;/&nbsp;
  <div class="small default btn pretty"><a href="javascript:convert_puct();">句読点変換「、。」→「，．」</a></div>
  &nbsp;/&nbsp;
  <div class="small default btn pretty"><a href="javascript:toggle_preview();">toggle preview</a></div>

  <div class="row stretch">
    <div id="edit-input-form" class="five columns">
      <textarea name="content" id="edit-content" rows=80><%= entry[:source] %></textarea>
    </div>
    <div id="edit-preview-div" class="seven columns">
      <div id="js-preview-div" class="entry">
      </div>
    </div>
  </div>
</form>

<div id="js-edit-status-div">
  <div id="js-edit-status-right-div">right</div>
  <div id="js-edit-status-left-div">left</div>
</div>

<script>
var entry_filepath = "<%= h entry[:filepath] %>";
</script>

<script src="/js/edit.js"></script>
<script src="/js/markdown_assist.js"></script>
<script src="/js/dragdrop.js"></script>
</script>
