<h2><%= h entry[:filepath] %></h2>
<form action="/edit/<%= h entry[:filepath] %>" method="post">
  <input type="submit" />
  <hr />

  <div class="row stretch">
    <div id="edit-input-form" class="six columns">
      <textarea name="content" id="edit-content" rows=80><%= entry[:source] %></textarea>
    </div>
    <div id="edit-preview-div" class="six columns">
      <div id="js-preview-div" class="entry">
	&nbsp;
      </div>
    </div>
  </div>
</form>

<script>

function update_edit_content(){
$.get("/preview", { content: $("#edit-content").val()},
	function(data){
		var p = $("#js-preview-div");
		p.empty();
		p.append(data);
		console.log("preview updated");
	});
}

$("#edit-content").on("keyup", function(){
	update_edit_content();
});

update_edit_content();
</script>
