<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Gluent</title>
  <%= stylesheets %>
  <%= javascripts %>
</head>
<body>
  <nav id="navi-bar">
    <a href="/">TOP</a>
  </nav>

  <div class="row">
<%= yield %>
  </div>
</body>
</html>
