<h1>Gluent</h1>

<form action="/login" method="post">
  <label for="username">Username: </label>
  <input type="input" name="username" id="username" />

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" />

  <button type="submit">login</button>
</form>
